body {
  background-image: url(./backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App .Container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #0a2a5bb1;
  border-radius: 5px;
  background: linear-gradient(to right, #def5f2fe 0%, #7ba8ca 100%);
}

.App footer {
  color: black;
  background-color: #acbdcb;
  opacity: 50%;
  display: block;
  max-width: 550px;
  margin: 0px auto;
  padding: 0px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.App footer a {
  text-decoration: none;
  color: rgb(16, 16, 97);
}

.App footer a:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media (max-width: 560px) {
  .App .Container {
    width: 350px;
  }
}
