.Overview h1 {
  color: #2f3c4f;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  line-height: 28px;
  margin-bottom: 0;
}

.Overview ul {
  margin: 5px 0;
  padding: 0;
  margin-bottom: 30px;
}

.Overview li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #2f3c4f;
  font-size: 16px;
  font-weight: 400px;
  line-height: 25px;
  text-align: left;
}

.Overview .overview {
  margin-bottom: 20px;
}
