.Weather {
  margin: 20px;
}

.Weather .btn {
  background-color: #3258819f;
}

@media (max-width: 560px) {
  .btn {
    font-size: 12px;
    margin-left: -20px;
    padding: 5px;
    margin: 5px;
  }
}
